<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link rel="stylesheet" href="http://collabedit.com/static/css/combined_doc.css?v=4b43e" />
        <title><%-key%> - collabedit</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- codemirror -->
        <link rel="stylesheet" href="../codemirror-5.40.2/lib/codemirror.css">
        <script src="../codemirror-5.40.2/lib/codemirror.js"></script>
        <script src="../codemirror-5.40.2/mode/clike/clike.js"></script>
        <script src="../codemirror-5.40.2/mode/python/python.js"></script>
        <script src="../codemirror-5.40.2/mode/javascript/javascript.js"></script>
        <link rel = "stylesheet" href ="../codemirror-5.40.2/theme/dracula.css">
        <style>
        #messages { list-style-type: none; margin: 0; padding: 0; border:1px solid black;padding-bottom:40px;margin-bottom:10px}
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
        </style>
        <!-- socket -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-1.11.1.js"></script> -->
     <script src="../xuly.js"></script>
    </head>
    <style>
    body{
    background-color: #E3E3E3!important;
    font-family: georgia,verdana,arial!important;
}</style>
    <body>
        <div id="header">
            <div id="logos">
                <a id="logotext" href="/">collabedit</a>
                <br>
                <a id="subtitle" href="/">simple collaborative text</a>
            </div>
        </div>
        <div id="login_info" style =display:inline-flex;margin:20px;margin-right:8%;>
                <div class="login_info_buttons" >
                    <a class="loginInfoButton" href="/login" <%-name==''?"":"style=display:none;"%>>
                        <img src="http://collabedit.com/static/img/log_in.png">
                    </a>
                </div>
                <div class="login_info_buttons">
                    <a class="loginInfoButton" href="/signup" <%-name==''?"":"style=display:none;"%>>
                        <img src="http://collabedit.com/static/img/sign_up.png">
                    </a>
                </div>
                <li class="dropdown user user-menu" style =list-style:none;>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <span class="hidden-xs" style ="color:white;font-size:25px"><%-name%></span>
                        </a>
                        <ul class="dropdown-menu" style ="text-align: center;background:#3CA0D0;border:0">
                          <li>
                                <div class="pull-left">
                                  <a href="/profile" class="btn btn-default btn-flat">My data</a>
                                </div>
                                <div class="pull-right">
                                  <a href="/signout" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
            </div>
    
        <div id="main">
 
            <div id="editor_container">
                <form method="POST" id="form_auto_submit">
                    <div style="float:left;border:2px solid yellow;width:70%">         
                        <textarea  name="TextArea" id="code"><%-value%></textarea>
                    </div>
                    <input id="getSelect" style="display:none" value = "<%-select%>">
                    <input id="getUsername" style="display:none" value = "<%-name%>">

                <div id="sidebar_div">
                    <div style="margin-bottom: 10px">
                        <p class="chat_label">Programming Language</p>
                        <select name="selectLang" style="width:240px">
                            <option value="clike" <%-select=='clike'?'selected':'' %>>C/C++</option>
                            <option value="python" <%-select=='python'?'selected':'' %>>Python</option>
                            <option value="javascript" <%-select=='javascript'?'selected':'' %>>Javascript</option>
                            <option value="text" <%-select=='text'?'selected':'' %>>Plain text</option>
                        </select>
                    </div>
                    <!-- <input type="submit" style="margin:20px 100px;" value="Save"> -->
                </form>
                <ul id="messages"></ul>
                    <form id="chatbox" action="">
                    <input id="m" autocomplete="off"/>
                    <button>Send</button>
                    <div id="yourName"></div>
                    </form>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
        <div id="footer" style="text-align: center;margin-top:50px">
&copy; 2016 
            <a href="/">collabedit.com</a>
|
            <a href="/about">about</a>
|
            <a href="/faq">faq</a>
|
            <a href="/help">help</a>
|
            <a href="/updates">updates</a>
|
            <a href="/legal">legal</a>
        </div>
    </body>
    
</html>